<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Каталог книг</title>
    <th:block th:insert="parts/includesFiles :: includesFiles"></th:block>
</head>
<body>
<th:block th:insert="parts/navbar :: navbar"></th:block>
<div class="container-fluid">
    <div class="row">

        <th:block th:insert="parts/sidebar :: sidebar"></th:block>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <a href="/bookCatalog/add" class="p-2"><i class="fas fa-plus"></i> Добавить</a>
            </div>

            <h2>Каталог</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>№ п/п</th>
                        <th>Номер книги</th>
                        <th>Автор</th>
                        <th>Название</th>
                        <th>Всего книг</th>
                        <th>В наличии</th>
                        <th>У читателей</th>
                        <th><i class="fas fa-tools"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book, state : ${allBooks}">
                        <td th:text="${state.count}"></td>
                        <td th:text="${book.getNumberBook()}"></td>
                        <td th:text="${book.getAuthor()}"></td>
                        <td th:text="${book.getTitle()}"></td>
                        <td th:text="${book.getTotalCount()}"></td>
                        <td th:text="${book.getActualCountBook()}"></td>
                        <td th:text="${book.getReserveCount()}"></td>
                        <td>
                            <a th:href="'/bookCatalog/remove/' + ${book.getId()}" class="p-1 text-danger"><i class="fas fa-trash"></i></a>
                            <a th:href="'/bookCatalog/edit/' + ${book.getId()}" class="p-1 text-success"><i class="far fa-edit"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
</body>
</html>