<th:block th:fragment="sidebar">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">
                    <i class="fas fa-home"></i>
                    Главная
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orderingBook">
                    <i class="far fa-sticky-note"></i>
                    Выдача книг
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/closeBookOrder">
                    <i class="fas fa-clipboard-check"></i>
                    Прием книг
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bookCatalog">
                    <i class="fas fa-book"></i>
                    Каталог книг
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/readerList">
                    <i class="fas fa-users"></i>
                    Читатели
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report">
                    <i class="fas fa-bookmark"></i>
                    Отчеты
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/worker">
                    <i class="fas fa-user-tie"></i>
                    Работники
                </a>
            </li>
        </ul>
    </div>
</nav>
</th:block>